a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}
a {
	color:#CC0000;
}
a:visited {
	color:#CC0000;
}
a:hover {
	color:#780000;
}

*{font-family: 'Open Sans', sans-serif; font-weight: 300;}

.header h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 500%;
	margin-bottom: 0;
}
h4 {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 1rem;
}

#psych-trigger {
	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
 	color:#CC0000;
}

#faq .question {
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	display: block;
	padding-bottom: 10px;
}

#large-icons {
	font-size: 300%;
	text-align: center;
}

.thing {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.04);
	margin-bottom: 30px;
	box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.04);
	}
.thing img {
	display: block;
    margin: auto;
    margin-top: 10px;
}
.title {
	text-align: center;
}
body {
	color: black;
}
#projects {
	color: white;
}
body {
	background-image: url("../img/footer_lodyas_inverse.png");
}
#projects {
	background-image: url("../img/footer_lodyas.png");
}
