#babytrigger {
	text-decoration: none;	
}
#babypic {
	display:block;
    margin:auto;
}
.header {
	background-color: #eee;
}
.header h1, p, .icons {
	text-align: center;
}
.header h1 {
	font-family: 'Shadows Into Light', cursive;
}
.header p, h4, li {
	font-family: 'Open Sans', sans-serif;
}
.header li {
}


